:root {
  --width-3: 2.8vw;
  --width-2: 3.9vw;
  --width-4: 1.7vw;
}
body {
  background-color: lightskyblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  margin: 1vh 1vw;
}

/* .time-net {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
} */

section {
  display: grid;
  /*   grid-template-columns: repeat(7, 1fr); */
  place-items: center;
  position: relative;
}

#culture-section {
  margin-left: 40px;
}
#time-div {
  position: absolute;

  border-bottom: 1px solid hsla(0, 0%, 56%, 0.5);
  width: 100vw;
  font-size: 0.6rem;
}

#time-div span {
  position: absolute;
}

article {
  margin: 1vh 1vw;
  /*   padding: 1vh 1vw; */
  display: grid;
  place-content: center;
  /*   place-items: center; */
  /*   border: 1px solid black; */
  font-size: calc(8px + 0.390625vw);
  border-radius: 1em;
  width: 8vw;
  position: absolute;
  background-color: hsla(131, 100%, 32%, 0.5);
  z-index: 2;
  writing-mode: vertical-rl;
  /*   text-orientation: mixed; */
}

a {
  text-decoration: none;
  color: black;
}

article:hover {
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.3);
}

article:active {
  color: inherit;
  /*   font-weight: 600; */
  box-shadow: inset 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
}

/* Continents START */
article.SAm {
  background-color: hsla(64, 93%, 49%, 0.5);
  left: -0.8vw;
}
article.MAm {
  background-color: hsla(38, 100%, 50%, 0.5);
  left: 8.5vw;
}

article.NAm {
  background-color: hsla(0, 93%, 49%, 0.5);
  left: 17vw;
}

article.SSA {
  background-color: hsla(36, 90%, 24%, 0.5);
  left: 25.5vw;
}

article.NAf {
  background-color: hsla(53, 100%, 50%, 0.5);
  left: 34vw;
}

article.EU {
  background-color: hsla(184, 100%, 50%, 0.5);
  left: 42.5vw;
}

article.WAs {
  background-color: hsla(117, 100%, 50%, 0.5);
  left: 51vw;
}

article.SAs {
  background-color: hsla(172, 100%, 50%, 0.5);
  left: 59.5vw;
}

article.EAs {
  background-color: hsla(284, 100%, 50%, 0.5);
  left: 68vw;
}

article.JapKor {
  background-color: hsla(246, 76%, 57%, 0.5);
  left: 76.5vw;
}

article.OC {
  background-color: hsla(246, 76%, 57%, 0.5);
  left: 80vw;
}

/* Continents END */

/*Cultures START*/

/* SAm */
#Wari {
  width: var(--width-3);
  left: 2.2vw;
}

#Nazca {
  width: var(--width-3);
}

#Tiwanaku {
  width: var(--width-3);
  left: 5.2vw;
  writing-mode: vertical-rl;
}

/* MAm */
#Teotihuacan {
  width: var(--width-2);
}
#Maya {
  width: var(--width-2);
  left: 12.6vw;
}

/* NAm */
#Pueblo {
  width: var(--width-2);
}

#Mississippian {
  width: var(--width-2);
  left: 21.3vw;
  writing-mode: vertical-rl;
}

/* SSA */
#Nok {
  width: var(--width-2);
}

#Kush {
  width: var(--width-2);
  left: 29.6vw;
}

/* EU */
#Minoan {
  width: var(--width-2);
}
#Mycenaean {
  width: var(--width-2);
  left: 46.7vw;
}

#Rome-rep {
  width: var(--width-2);
}
#Alexander {
  width: var(--width-2);
  left: 46.7vw;
}

#W-Roman-emp {
  width: var(--width-2);
}

#Sumer {
  width: 4.2vw;
  left: 51vw;
}

#Akkad {
  width: var(--width-2);
  left: 55vw;
}

#Neo-Sumerian {
  width: var(--width-2);
  left: 55vw;
}

/* WAs */
#Byzantine {
  width: var(--width-4);
  left: 48.7vw;
  writing-mode: vertical-rl;
}

#Neo-Assyrian {
  width: var(--width-2);
}
#Medes {
  width: var(--width-3);
  left: 56.6vw;
}

#Neo-Babylonian {
  width: var(--width-2);
}

#Achaemenid {
  width: var(--width-2);
  left: 54.8vw;
}

#Rashidun {
  /*   font-size: 0.7rem; */
}

#Umayyad {
  /*   font-size: 0.7rem; */
}

#Abbasid {
  width: var(--width-3);
  left: 50.8vw;
}
#Seljuk {
  width: var(--width-3);
  left: 53.8vw;
}

#Rum {
  width: var(--width-3);
  left: 56.8vw;
}

#Ottoman {
  width: var(--width-3);
  writing-mode: vertical-lr;
}
#Safavid {
  width: var(--width-2);
  left: 55.3vw;
}

#Timurid {
  width: var(--width-3);
  left: 56.9vw;
}

/* SAs */
#Magadha {
  width: var(--width-2);
}

#Kuru {
  width: var(--width-2);
  left: 63.7vw;
}

#Maurya {
  width: var(--width-2);
}
#Indo-Greek {
  width: var(--width-2);
  left: 63.7vw;
}
#Satavahana {
  width: var(--width-2);
  writing-mode: vertical-rl;
}
#Kushan {
  width: var(--width-2);
  left: 63.7vw;
}

#Vakataka {
  width: var(--width-2);
}
#Chalukya {
  width: var(--width-2);
}

#Harsha {
  width: var(--width-2);
  left: 63.7vw;
}

#Gurjara-Pratihara {
  width: var(--width-2);
  left: 63.7vw;
}
/* EAs */

#Zhou {
  width: var(--width-2);
}
#Spring-Autumn-period {
  width: var(--width-2);
  left: 72.2vw;
}
#Warring-States {
  width: var(--width-2);
  left: 72.2vw;
}
#Xiongnu {
  width: var(--width-2);
}
#Qin {
  width: var(--width-2);
  left: 72.2vw;
}
#Han {
  width: var(--width-2);
  left: 72.2vw;
}
#Three-Kingdoms {
  width: var(--width-2);
}
#Jin {
  width: var(--width-2);
  left: 72.2vw;
}

#Kamakura {
  width: var(--width-3);
  left: 81vw;
}

#Goryeo {
  width: var(--width-3);

  left: 77.2vw;
}
#Song {
  width: var(--width-3);

  left: 67.7vw;
}
#Yuan {
  width: var(--width-3);
  left: 67.7vw;
}

#Ming {
  width: var(--width-3);

  left: 67.7vw;
}

#Mongol {
  width: var(--width-3);
  left: 70.7vw;
  writing-mode: vertical-rl;
}

#Golden-Horde {
  width: var(--width-3);
  left: 54vw;
}

#Carolingian {
  width: var(--width-3);
  left: 43vw;
}

#Kievrus {
  width: var(--width-4);
  left: 43vw;
}

#Holy-Roman {
  width: var(--width-4);
  left: 45vw;
}

#Aksum {
  width: var(--width-3);
  left: 30vw;
}

#Zimbabwe {
  width: var(--width-4);
  left: 26vw;
  writing-mode: vertical-rl;
}

#Ethiopian {
  width: var(--width-4);
  left: 30vw;
  writing-mode: vertical-lr;
}

#Mali {
  width: var(--width-4);
  left: 28vw;
}

#Israel {
  width: var(--width-4);
  left: 57vw;
}

#Judah {
  width: var(--width-4);
  left: 55vw;
}

#New-Spain {
  width: var(--width-2);
  left: 4vw;
}

#Viceroyalty-Peru {
  width: var(--width-2);
  left: -0.5vw;
}

#Vikings {
  width: var(--width-4);
  left: 46.9vw;
  writing-mode: vertical-rl;
}

#Sillia {
  width: var(--width-2);
  left: 81vw;
}

#Yayoi {
  width: var(--width-2);
  left: 76.5vw;
}

#Asuka {
  width: var(--width-2);
  left: 76.5vw;
}
/*Cultures END*/

@media (min-width: 900px) {
  article {
    writing-mode: horizontal-tb;
  }
}
