body {
  background-color: lightskyblue;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
  margin: 1vh 1vw;
}

.time-net {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

section {
  display: grid;
  /*   grid-template-columns: repeat(7, 1fr); */
  place-items: center;
  position: relative;
}

#culture-section {
  margin-left: 40px;
}
#time-div {
  position: absolute;

  border-bottom: 1px solid hsla(0, 0%, 56%, 0.5);
  width: 100vw;
  font-size: 0.6rem;
}

#time-div span {
  position: absolute;
}

article {
  margin: 1vh 1vw;
  padding: 1vh 1vw;
  display: grid;
  place-content: center;
  /*   place-items: center; */
  /*   border: 1px solid black; */
  font-size: calc(10px + 0.390625vw);
  border-radius: 1em;
  width: 13vw;
  position: absolute;
  background-color: hsla(131, 100%, 32%, 0.5);
  z-index: 2;
  writing-mode: vertical-rl;
  /*   text-orientation: mixed; */
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
}

article:hover {
  box-shadow: 0px 0px 16px 3px rgba(0, 0, 0, 0.3);
}

article:active {
  color: inherit;
  /*   font-weight: 600; */
  box-shadow: inset 0px 0px 15px 4px rgba(0, 0, 0, 0.3);
}

@media (min-width: 900px) {
  article {
    writing-mode: horizontal-tb;
  }
}
